  <section class="section">
  <div class="container has-text-centered">
    <h2 class="title has-text-centered has-text-primary">Latin Recipes</h2>
    <div class="columns is-multiline is-mobile is-centered">
      <div class="column is-5 is-centered">
        
               <div class="card custom-card">
          <div class="card-content">
            <div class="content">
              <h3 class="title is-4 has-text-primary">
                {{tittle}} Recipe Title
              </h3>
              <div class="recipe-details" style="max-height: 300px; overflow-y: auto;">
                <h4 class="subtitle is-5">Ingredients</h4>
                <ul>
                  {{ingredients_latin1}}
                </ul>

                <h4 class="subtitle is-5">servings</h4>
                <ol>
                  {{servings_latin1}}
                </ol>
              </div>
              <a href="#" class="button is-primary is-fullwidth">Add to Favorites</a>
            </div>
          </div>


          <div class="card custom-card">
            <div class="card-content">
              <div class="content">
                <h3 class="title is-4 has-text-primary">
                  {{tittle_latin2}} Recipe Title
                </h3>
                <div class="recipe-details" style="max-height: 300px; overflow-y: auto;">
                  <h4 class="subtitle is-5">Ingredients</h4>
                  <ul>
                    {{ingredients_latin2}}
                  </ul>

                  <h4 class="subtitle is-5">servings</h4>
                  <ol>
                    {{servings_latin2}}
                  </ol>
                </div>
                <a href="#" class="button is-primary is-fullwidth">Add to Favorites</a>
              </div>
            </div>

            <div class="card custom-card">
              <div class="card-content">
                <div class="content">
                  <h3 class="title is-4 has-text-primary">
                    {{tittle_latin3}} Recipe Title
                  </h3>
                  <div class="recipe-details" style="max-height: 300px; overflow-y: auto;">
                    <h4 class="subtitle is-5">Ingredients</h4>
                    <ul>
                      {{ingredients_latin3}}
                    </ul>

                    <h4 class="subtitle is-5">servings</h4>
                    <ol>
                      {{servings_latin3}}
                    </ol>
                  </div>
                  <a href="#" class="button is-primary is-fullwidth">Add to Favorites</a>
                </div>
              </div>

              <div class="card custom-card">
                <div class="card-content">
                  <div class="content">
                    <h3 class="title is-4 has-text-primary">
                      {{tittle_latin4}} Recipe Title
                    </h3>
                    <div class="recipe-details" style="max-height: 300px; overflow-y: auto;">
                      <h4 class="subtitle is-5">Ingredients</h4>
                      <ul>
                        {{ingredients_latin4}}
                      </ul>

                      <h4 class="subtitle is-5">servings</h4>
                      <ol>
                        {{servings_latin4}}
                      </ol>
                    </div>
                    <a href="#" class="button is-primary is-fullwidth">Add to Favorites</a>
                  </div>
                </div>

                <div class="card custom-card">
                  <div class="card-content">
                    <div class="content">
                      <h3 class="title is-4 has-text-primary">
                        {{tittle_latin5}} Recipe Title
                      </h3>
                      <div class="recipe-details" style="max-height: 300px; overflow-y: auto;">
                        <h4 class="subtitle is-5">Ingredients</h4>
                        <ul>
                          {{ingredients_latin5}}
                        </ul>

                        <h4 class="subtitle is-5">servings</h4>
                        <ol>
                          {{servings_latin5}}
                        </ol>
                      </div>
                      <a href="#" class="button is-primary is-fullwidth">Add to Favorites</a>
                    </div>
                  </div>

                  <div class="card custom-card">
                    <div class="card-content">
                      <div class="content">
                        <h3 class="title is-4 has-text-primary">
                          {{tittle_latin6}} Recipe Title
                        </h3>
                        <div class="recipe-details" style="max-height: 300px; overflow-y: auto;">
                          <h4 class="subtitle is-5">Ingredients</h4>
                          <ul>
                            {{ingredients_latin6}}
                          </ul>

                          <h4 class="subtitle is-5">servings</h4>
                          <ol>
                            {{servings_latin6}}
                          </ol>
                        </div>
                        <a href="#" class="button is-primary is-fullwidth">Add to Favorites</a>
                      </div>
                    </div>

                    <div class="card custom-card">
                      <div class="card-content">
                        <div class="content">
                          <h3 class="title is-4 has-text-primary">
                            {{tittle_latin7}} Recipe Title
                          </h3>
                          <div class="recipe-details" style="max-height: 300px; overflow-y: auto;">
                            <h4 class="subtitle is-5">Ingredients</h4>
                            <ul>
                              {{ingredients_latin7}}
                            </ul>

                            <h4 class="subtitle is-5">servings</h4>
                            <ol>
                              {{servings_latin7}}
                            </ol>
                          </div>
                          <a href="#" class="button is-primary is-fullwidth">Add to Favorites</a>
                        </div>
                      </div>

                      <div class="card custom-card">
                        <div class="card-content">
                          <div class="content">
                            <h3 class="title is-4 has-text-primary">
                              {{tittle_latin8}} Recipe Title
                            </h3>
                            <div class="recipe-details" style="max-height: 300px; overflow-y: auto;">
                              <h4 class="subtitle is-5">Ingredients</h4>
                              <ul>
                                {{ingredients_latin8}}
                              </ul>

                              <h4 class="subtitle is-5">servings</h4>
                              <ol>
                                {{servings_latin8}}
                              </ol>
                            </div>
                            <a href="#" class="button is-primary is-fullwidth">Add to Favorites</a>
                          </div>
                        </div>

                        <div class="card custom-card">
                          <div class="card-content">
                            <div class="content">
                              <h3 class="title is-4 has-text-primary">
                                {{tittle_latin9}} Recipe Title
                              </h3>
                              <div class="recipe-details" style="max-height: 300px; overflow-y: auto;">
                                <h4 class="subtitle is-5">Ingredients</h4>
                                <ul>
                                  {{ingredients_latin9}}
                                </ul>

                                <h4 class="subtitle is-5">servings</h4>
                                <ol>
                                  {{servings_latin9}}
                                </ol>
                              </div>
                              <a href="#" class="button is-primary is-fullwidth">Add to Favorites</a>
                            </div>
                          </div>

                          <div class="card custom-card">
                            <div class="card-content">
                              <div class="content">
                                <h3 class="title is-4 has-text-primary">
                                  {{tittle_latin10}} Recipe Title
                                </h3>
                                <div class="recipe-details" style="max-height: 300px; overflow-y: auto;">
                                  <h4 class="subtitle is-5">Ingredients</h4>
                                  <ul>
                                    {{ingredients_latin10}}
                                  </ul>

                                  <h4 class="subtitle is-5">servings</h4>
                                  <ol>
                                    {{servings_latin10}}
                                  </ol>
                                </div>
                                <a href="#" class="button is-primary is-fullwidth">Add to Favorites</a>
                              </div>
                            </div>
                          </div>


                        </div>
                      </div>
</section>